<div class="control-group">
  <label class="control-label">{{i18n "admin.groups.custom_tags_label"}}</label>
  <div class="controls">
    {{group-tags-input group=this.group}}
    <p class="help-text">{{i18n "admin.groups.custom_tags_help"}}</p>
  </div>
</div>
