{{#if this.model.custom_fields.primary_sector}}
  <div class="group-sector">
    <div class="group-sector__pill sector-pill">
      {{this.model.custom_fields.primary_sector}}
    </div>
  </div>
{{/if}}
