.group-box {
  .group-membership {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;

    .group-sector {
      display: flex;
    }
  }
}

.group-info {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0px;

  .group-details-button {
    justify-content: flex-end;
  }
}

.sector-pill {
  display: inline-block;
  font-size: 12px;
  padding: 0 0.5rem;
  background-color: var(--header_background);
  border-radius: 500px;
  color: var(--primary);
  font-weight: 500;
}
